@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;600;700&display=swap');
body {
    font-family: 'Inter', sans-serif;
    background: rgb(245 245 245);
}

.mobile-logo {
    height: 40px;
}

.btn-primary {
    background: #16223b;
    border-color: #16223b;
    font-size: .8rem;
}

.btn-primary:hover {
    background: #0a101f;
    border-color: #16223b;
}

.navbar-toggler {
    right: 0;
    z-index: 101;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    box-shadow: -1px 0 0 rgba(0, 0, 0, .4);
    background: #ffffff;
}

.sidebar i {
    font-size: 1.3rem;
}

.sidebar .nav-link {
    font-weight: 600;
    color: #333;
    padding: 1rem 3rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-item.active,
.sidebar .nav-item:hover {
    background: #fbb453;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.site-header {
    height: 40px;
}

.user-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
}

.user-name {
    font-size: 1.2rem;
    color: #0d1628;
    line-height: normal;
    font-weight: 600;
}

.user-email {
    font-size: .8rem;
    line-height: normal;
    color: #b8b8b8;
}

.fluid-img {
    max-height: 100%;
    max-width: 100%;
}


/*
/* tabs */

.custom-tabs li {
    background: #ffffff;
    overflow: hidden;
    color: #16223b;
}

.custom-tabs.nav-pills .nav-link {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-size: .8rem;
    text-transform: uppercase;
    color: #16223b;
    border-right: 1px solid #e7e7e7;
    border-radius: 0;
}

.custom-tabs.nav-pills .nav-link.active {
    background: #16223b;
    border-radius: 0;
    color: #ffffff;
}

.custom-tabs.nav-pills .nav-item:last-child .nav-link {
    border: none;
}

.custom-tabs li:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.custom-tabs li:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


/* content */

.content-title {
    font-weight: 700;
    font-size: 1.9rem;
    line-height: normal;
}

.page-sub-title {
    font-weight: 700;
    font-size: 1.3rem;
}

.medium-title {
    font-weight: 700;
    font-size: 1.1rem;
}

.regular-title {
    font-weight: 700;
    font-size: .9rem;
}

.small-text {
    font-size: .75rem;
}

.text-gray {
    color: #b0afb4;
}

.text-blue {
    color: #2470ff;
}

.text-green {
    color: #85d156;
}

.text-yellow {
    color: #f8c902;
}

.admin-card {
    border-radius: 10px;
    border: none;
    font-size: .9rem;
}

.admin-card th {
    border-bottom: none;
}

.admin-card .table {
    border-top: 1px solid #f2f2f2;
}

.admin-card .table>:not(:first-child) {
    border-top: 1px solid #f2f2f2;
}

.admin-card .table>:not(caption)>*>* {
    padding: 0.8rem 1.5rem;
}

.pointer {
    cursor: pointer;
}

.pagination {
    color: #b0afb4;
    font-size: .8rem;
}

.pagination i {
    color: #666666;
}

.panel-card {
    border-radius: 10px;
    overflow: hidden;
}

.panel-card .card-header {
    background: #0d1628;
    color: #ffffff;
    padding: .8rem 1rem;
}

.panel-card .card-footer {
    background: #ffffff;
    padding: .8rem 1rem;
}

.label-small {
    font-size: .8rem;
    color: #999999;
}

.user-user-image {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-user-image.profile-image {
    width: 60px;
    height: 60px;
}


/* on off */

.switch-wrap {
    cursor: pointer;
    background: #0fd02c;
    width: 50px;
    height: 30px;
    border-radius: 33.5px;
    position: relative;
}

.switch-wrap input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.switch {
    height: 100%;
    display: grid;
    grid-template-columns: 0fr 1fr 1fr;
    transition: 0.2s;
}

.switch::after {
    content: "";
    border-radius: 50%;
    background: #ffffff;
    grid-column: 2;
    transition: background 0.2s;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 8px;
    top: 7px;
}

input:checked+.switch {
    grid-template-columns: 1fr 1fr 0fr;
    background: #eb1414;
    border-radius: 33.5px;
}

input:checked+.switch::after {
    background-color: #ffffff;
    left: auto;
    right: 8px;
}

.bg-dark {
    background: #0d1628!important;
}

.item-price {
    color: #171b4a;
    font-size: 1.8rem;
}

.map-marker {
    color: #ed4371;
}

.product-description-lists {
    list-style: none;
}

.product-description-lists li {
    margin-bottom: 0.5rem;
    font-size: .9rem;
}

.comment-footer {
    border: none;
}

.comment-footer i {
    line-height: 42px;
    font-size: 42px;
    color: #0a101f;
}

.comment-footer .form-control {
    border: none;
    background: #f2f2f2;
}

.comments-contents-wrapper {
    max-height: 270px;
    overflow: auto;
}

p {
    font-size: .9rem;
}

.mobile-header {
    padding: 12px 0;
    position: sticky;
    top: 0;
    background: #f5f5f5;
    z-index: 1035;
    margin: 0px -12px;
    padding: 15px;
}



Link{
    text-decoration: none;
}

.delete-display{
    display: none;
}

.edit-display{
    display: none;
}


.link-divs{
    text-decoration: none;
}




  
  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
  
  
  
  /*---------------------------------------------*/
  .limiter a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.limiter  a:focus {
    outline: none !important;
}

.limiter  a:hover {
    text-decoration: none;
  color: #6a7dfe;
  color: linear-gradient(left, #ffdcac, #fab454);
}

/*---------------------------------------------*/
.limiter h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

.limiter  p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

.limiter  ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
.limiter input {
    outline: none;
    border: none;
}

.limiter textarea {
  outline: none;
  border: none;
}

.limiter textarea:focus, input:focus {
  border-color: transparent !important;
}

.limiter input:focus::-webkit-input-placeholder { color:transparent; }
.limiter input:focus:-moz-placeholder { color:transparent; }
.limiter input:focus::-moz-placeholder { color:transparent; }
.limiter input:focus:-ms-input-placeholder { color:transparent; }

.limiter textarea:focus::-webkit-input-placeholder { color:transparent; }
.limiter textarea:focus:-moz-placeholder { color:transparent; }
.limiter textarea:focus::-moz-placeholder { color:transparent; }
.limiter textarea:focus:-ms-input-placeholder { color:transparent; }

.limiter input::-webkit-input-placeholder { color: #adadad;}
.limiter input:-moz-placeholder { color: #adadad;}
.limiter input::-moz-placeholder { color: #adadad;}
.limiter input:-ms-input-placeholder { color: #adadad;}

.limiter textarea::-webkit-input-placeholder { color: #adadad;}
.limiter textarea:-moz-placeholder { color: #adadad;}
.limiter textarea::-moz-placeholder { color: #adadad;}
.limiter textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
.limiter button {
    outline: none !important;
    border: none;
}

.limiter button:hover {
    cursor: pointer;
}

.limiter iframe {
    border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.limiter .txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;  
}

.wrap-login100 {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 25px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
.login100-form-title i {
  font-size: 15px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  color: linear-gradient(left, #ffdcac, #fab454);
}

.focus-input100::after {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*---------------------------------------------*/
.btn-show-pass {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #6a7dfe;

  color: linear-gradient(left, #ffdcac, #fab454);
}

.btn-show-pass.active {
  color: #6a7dfe;
  color: linear-gradient(left, #ffdcac, #fab454);
}



/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  color: linear-gradient(left, #ffdcac, #fab454);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}



.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 15px;
  color: #fff;
  background: #fab454;
  line-height: 1.2;
  text-transform: uppercase;


  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 77px 15px 33px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}